<h1>main-page-custom-product</h1>
<img src="{{page.metafields.Image.Image.url | url_encode}}" />
{{page.metafields.custom-product-text.custom-product-text}}
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}