<h1>main-page-custom-product</h1>
<div class="new-div">
<img src="{{page.metafields.Image.Image [ iteration ]}}" />
{{page.metafields.custom-product-text.custom-product-text [ iteration ]}}
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}